<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link href="/assets/css/myStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<input type="button" value="click here" id="button1">
<h1>welcome to first page of project</h1>
<div id="m">
<div id="d"><img src="/assets/images/tree.jpg" height="200" width="300"></div>
</div>
<a href="{% url 'firstapp:about' %}">about</a>
</body>
<script type="text/javascript" src="/assets/js/newjq.js"></script>
<script src="/assets/js/new.js" type="text/javascript"></script>

</html>